@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins {
    font-family: "Poppins";
}

.table-section {
    background-color: rgba(12, 11, 11);
}

.m-top-bottom-20px {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mb-24 {
    margin-bottom: 24px;
}

.justify-space-between {
    justify-content: space-between;
}


.z-index-1 {
    z-index: 1;
}

.heading {
    font-size: 48px;
    font-weight: 600;
    line-height: 61.44px;
    text-align: center;
}

.box {
    border: 1px solid rgba(48, 47, 47);
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.1) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    padding: 10px 20px;
    z-index: 1;
    border-radius: 12px;
}

.box-heading {
    font-size: 22px !important;
    font-weight: 400;
    line-height: 33px;
}

.box-para {
    font-size: 14px;
    font-weight: 400;
    line-height: 25.2px;
    color: rgba(188, 188, 188);
}

.rating {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    color: rgba(240, 101, 0);
}

.mid-box {
    position: relative;
    border-radius: 15px;
    z-index: 1;
    border-radius: 10px !important;
    padding: 40px !important;
    border-bottom: none !important;
}

.mid-box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0% !important;
    padding: 2px;
    background: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
    border-bottom: none !important;
}

.table-box{
    position: relative;
    z-index: 2;
}
.table-box::after{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right:  2px;
    background: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0) ;
    mask-composite: exclude;
}

.color-black {
    background-color: #111010 !important;
}

.color-light-white {
    color: rgba(184, 184, 184);
}

.w-100 {
    width: 100%;
}
.bg-black{
    background-color: rgba(12, 11, 11) !important;
}

@media (max-width:992px) {
    .table-box::after{
        display: none;
    }
}
@media (max-width:768px) {
    .heading{
        font-size: 30px;
    }
}